


body {
background-color: rgb(94, 24, 151);
}

.login > .cointainer_1 h1{
  position: flex;
  align-items: center;
 
  margin: 70px auto;



background-color:  rgb(174, 155, 187);
width: 450px;
height: 450px;

z-index: -1;

box-shadow: 0 0 100px rgb(43, 1, 71);
border-radius: 50px;

}
.top_app {
position: absolute;
left: 70px;
top: 10px;
  color: rgb(230, 226, 231);

}

.login_1{
  position: absolute;
  left:0;
  right: 0; 
  top: 400px;
  width: 150px;
 height: 45px;
  margin:auto;
 background-color: #c20aa9;
 font-family: "Oswald", sans-serif;
font-optical-sizing: auto;
font-style: normal;
font-size: 16px;
 cursor: pointer;
 border: none ;
 border-radius: 100px;
animation: butt 1.9s ease-in-out infinite alternate;
color: aliceblue;


}

.login_1:hover{

  transform: scale(1.05);


  transition: 0.3s;


}

.login .form{

  position: absolute;
  
  margin:auto;

}



@keyframes butt {

  0%{

   background-color:  #3474ff ;
   box-shadow: 0px 0px 25px #3474ff;

  }
  50%{
    background-color:  #c20aa9;
    box-shadow: 0px 0px 25px #c20aa9;
  }
  100%{
    background-color:  #ff0080;
    box-shadow: 0px 0px 25px #ff0080;
  }
  
}